.work-container-work{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets//bg1.jpg);
    background-position:center;
    background-size: cover;
}
.work-container-top{
    padding: 128px 100px;
}
.work-container-top h1{
    text-align: center;
    color: white;
    font-size: 48px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.work-container-top h4{
    text-align: center;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
}
.work-container-bottom{
  display: flex;
  margin-left: 40px;
}
.work-container-bottom li{
    list-style: none;
    /* background: lightblue; */
    height: 130px;
    width: 300px;
    border-radius: 20px 0 0 20px;
    padding: 10px 0 0 10px;
    font-size: 14px;
    span{
        color: white;
    }
}
.work-content-left{
    padding-top: 20px;
}
.product:hover, .customer:hover{
    background: white;
    opacity: 30%;
    cursor: pointer;
    
    span{
        background: linear-gradient(97deg, #0096FF, #BB64FF 42%, #F2416B 74%, #EB7500);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.work-content-right img{
    width: 700px;
    border-radius: 20px;
}
