.container{
    padding: 40px 30px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.nav-left{
    display: flex;
    gap: 50px;
}
a{
    text-decoration: none;
    padding: 4px 8px;
}
.nav-right{
    display: flex;
    gap: 50px; 
}
@media(max-width: 1000px){
    .nav-container{
        padding: 10px 5px;
    }
    .nav-left{
        gap: 25px;
    }
    .nav-right{
        gap: 25px;
    }
}
@media(max-width: 828px){
    .nav-right{
        display: none;
    }
}
@media(max-width: 571px){
    .nav-container{
        justify-content: center;
    }
    .nav-left{
        gap: 10px;
        font-size: 12px;
    }
    .logo{
        display: none;
    }
}